@import "tailwindcss";

.home {
    height: 100vh;
    background:
    radial-gradient(
      circle,
      rgba(0, 0, 0, 0.6) 100%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/6fd9d446-cd78-453a-8c9c-417ed3e00422/web/IN-en-20251117-TRIFECTA-perspective_2fe4e381-977f-49fd-a7f4-1da0bcf09429_small.jpg");
    background-size: cover;
    background-position: center;
}